 nav ul {
      list-style-type: none;
    margin: 0;
    padding: 0;
    width:8%;
    background-color: #f1f1f1;
	float:left;
	position:absolute;

}


li a {
     display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #bf4040;
}

.active {
    background-color: 	#df2020;
}
#container{
width:50%;
height:100%;
margin: 0px auto 0px auto;
background-color:white;
text-align:center;
}
#containerdoc{
width:50%;
height:100%;
margin: 0px auto 0px auto;
background-color:white
}
#container1{
width:100%;
height:100%;
margin: 0px auto 0px auto;
background-color:white;
}
body{

background-color:white;

}
h1{
text-align:center;
color: black;
}
footer{
text-align:center;
font:Arial;
font-size:16px;
}
article{

text-align: center;
margin-left:12px;
margin-right:12px;

font:Arial;
font-size:18px;


}
header{
text-align:center;

}
#video{
	margin-left:20%;
	padding:3px 20px;
}
homeimage{
	
	margin-left:0%;
	padding:2px -1px;
	height:7px;
	
}
a{

text-align:center;

}
fontsize{

font-size:14px;
font:bold;
font-family:Arial

}
.Comic{
width:80%;
margin-left:10%;
margin-top:-3%;
}
#image1{
width:70%;
height:400px;
margin-left:22%;
margin-top:-5%;
}

button{
margin-left: 25%;
width: 10%;
height: 30px;
}
.pdfDoc ul{

list-style-type: none;

}
.pdfDoc ul li{

float:left;
margin:1%;
}
.pdfDoc ul li a{

display:block;
text-align: center;
text-decoration: none;

}
.pdfDoc img{

width:10%;
height:20%;
}
#image2{
width:70%;
height:400px;
margin-left:22%;
}
#number1{

width:100%;


}
#number2{

width:100%;


}
#number3{

width:100%;


}
#number4{

width:100%;


}
#title{

width:100%;


}
#title{

width:50%;


}











