 nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: 	#df2020;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 65px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #bf4040;
}

.active {
    background-color: 	#df2020;
}
#container{
width:1000px;
height:900px;
margin: 0px auto 0px auto;
background-color:white
}
body{

background-color:#00BFFF;

}
h1{
text-align:center;
color: white;
}
footer{
text-align:center;
font:Calibri light;
font-size:12;
}
article{

text-align: center;
margin-left:12px;
left:100px;
font:Calibri light;
font-size:12;

}
header{
text-align:center;

}
